# # Definitions of tags to detect
#
# ## General remarks
#
# - All length in meters
# - 'size' refers to the length of the shared border between solid black and solid white rectangle.
#   See README.md or https://github.com/AprilRobotics/apriltag/wiki/AprilTag-User-Guide#pose-estimation for details.
# - Ellipsis (...) signifies that the previous element can be repeated multiple times.
#
# ## Standalone tag definitions
# ### Remarks
#
# - name is optional
#
# ### Syntax
#
# standalone_tags:
#   [
#     {id: ID, size: SIZE, name: NAME},
#     ...
#   ]
standalone_tags:
  [
    # {id: 1, size: 0.1595, name: tag_1}
    # {id: 1, size: 0.3127, name: tag_1}
  ]
# ## Tag bundle definitions
# ### Remarks
#
# - name is optional
# - x, y, z have default values of 0 thus they are optional
# - qw has default value of 1 and qx, qy, qz have default values of 0 thus they are optional
#
# ### Syntax
#
# tag_bundles:
#   [
#     {
#       name: 'CUSTOM_BUNDLE_NAME',
#       layout:
#         [
#           {id: ID, size: SIZE, x: X_POS, y: Y_POS, z: Z_POS, qw: QUAT_W_VAL, qx: QUAT_X_VAL, qy: QUAT_Y_VAL, qz: QUAT_Z_VAL},
#           ...
#         ]
#     },
#     ...
#   ]
tag_bundles:
  [
    {
      name: "target_bundle",
      layout:
      [
        {id: 0, size: 0.06985, x: 0, y: 0, z: 0, qw: 1, qx: 0, qy: 0, qz: 0},
        {id: 1, size: 0.1397, x: 0, y: 0.1571625, z: 0, qw: 1, qx: 0, qy: 0, qz: 0},
        {id: 2, size: 0.1397, x: 0.1571625, y: 0, z: 0, qw: 1, qx: 0, qy: 0, qz: 0},
        {id: 3, size: 0.1397, x: 0, y: -0.1571625, z: 0, qw: 1, qx: 0, qy: 0, qz: 0},
        {id: 4, size: 0.1397, x: -0.1571625, y: 0, z: 0, qw: 1, qx: 0, qy: 0, qz: 0},
        {id: 5, size: 0.2794, x: -0.244475, y: 0.244475, z: 0, qw: 1, qx: 0, qy: 0, qz: 0},
        {id: 6, size: 0.2794, x: 0.244475, y: 0.244475, z: 0, qw: 1, qx: 0, qy: 0, qz: 0},
        {id: 7, size: 0.2794, x: 0.244475, y: -0.244475, z: 0, qw: 1, qx: 0, qy: 0, qz: 0},
        {id: 8, size: 0.2794, x: -0.244475, y: -0.244475, z: 0, qw: 1, qx: 0, qy: 0, qz: 0}
      ]
    }
  ]
