<launch>
    <node name = "rosbag_EKF_debug_record" pkg="rosbag" type ="record"
    args="record -o /home/$(env USER)/EKF_Python_Test /state_estimation/rel_pose_state /state_estimation/IMU_bias /drone/ground_truth/imu /drone/imu /tag_detections /drone/rel_pose_ground_truth /drone/apriltag_ground_truth /drone/ground_truth/odometry /state_estimation/rel_pose_velocity /state_estimation/rel_pose_acceleration /state_estimation/upds_since_correction /state_estimation/rel_pose_reported /drone/fake_magnetometer /state_estimation/k_estimate" />
</launch>